<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>administrator</title>
    <link href="./output.css" rel="stylesheet" />
  </head>
  <body>
    <h1>NEMSU - ADMINISTRATOR</h1>
    <div>
      <h2>CITE Department</h2>
      <!-- <div class="tools">
        <input type="search" id="" />
      </div> -->
      <div>
        <div>
          <div>
            <p>On Duty</p>
          </div>
          <div>
            <img src="profile.jpg" alt="member-profile" />
            <div>
              <h4>John Doe</h4>
              <p>Professor</p>
            </div>
            <button>Message</button>
          </div>
          <div>
            <p>Time in:</p>
            <p>Time out:</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
