<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>NEMSU - FACULTY</h1>
    <div>
      <div>
        <div>
          <img src="profile.jpg" />
          <div>
            <h2>John doe</h2>
            <h3>Faculty</h3>
          </div>
        </div>
        <button id="clockButton">Clock In</button>
        <div>
          <form action="dashboard.html">
            <label>Request Leaves</label>
            <div>
              <div>
                <input
                  type="radio"
                  id="annual"
                  value="ANNUAL"
                  name="type_leave"
                />
                <label for="annual">Annual Leave</label>
              </div>
              <div>
                <input type="radio" id="sick" value="SICK" name="type_leave" />
                <label for="sick">Sick leave</label>
              </div>
              <div>
                <input type="radio" id="paid" value="PAID" name="type_leave" />
                <label for="paid">Paid Holiday</label>
              </div>
              <div>
                <textarea name="Message" id="message"></textarea>
              </div>
              <div>
                <input
                  type="submit"
                  class="btn btn-dark"
                  value="Submit Request"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="dashboard.js"></script>
  </body>
</html>
